<%- include('partials/header', {current: '/home'}); %>
<%- include('partials/navigation', {current: '/home'}); %>

<h1>Homepage</h1>

<main>
 
<% houses.forEach(house => { %>
    <ul>
        <li>
            <h2><%= house.street %></h2>
            <img src="https://fdnd-agency.directus.app/assets/<%= house.poster_image %>" alt="house image" style="max-width: 50%;">
        </li>
    </ul>
<% }); %>

<%- include('partials/footer', {current: '/home'}); %>
